<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <header th:replace = "fragments :: header"></header>
    <p th:unless="${events} and ${events.size()}">No Events To Display!</p>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Address</th>
        </tr>
        </thead>
        <tr th:each = "event : ${events}">
            <td th:text = "${event.Key}">Default_Event</td>
            <td th:text = "${event.Value}">Default_Description</td>
            <td th:replace = "fragments :: address">Default_Address</td>
        </tr>
    </table>
</body>
</html>
